<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="/assets/js/lightbox.js" defer></script>
  </head>
  <body>
    {% include navbar.html %}

    <main id="content" class="site-main">{{ content }}</main>

    {% include footer.html %} {% include whatsapp-float.html %}

    <script src="{{ '/assets/js/nav-back.js' | relative_url }}" defer></script>
    <script
      src="{{ '/assets/js/whatsapp-link.js' | relative_url }}"
      defer
    ></script>
  </body>
</html>
